
.jumbotron {
    background-color: #563D7C;
    margin-top: 0px;
}

.card {
    border-radius: 300px;
}

.searchbar{
    margin-bottom: auto;
    margin-top: auto;
    height: 60px;
    background-color: #FCCD04;
    border-radius: 30px;
    padding: 10px;
}

.search_input{
    color: darkslategray;
    font-family: Roboto;
    border: 0;
    outline: 0;
    background: none;
    width: 0;
    caret-color:transparent;
    line-height: 40px;
    transition: width 0.4s linear;
}

.searchbar:hover > .search_input{
    padding: 0 10px;
    width: 450px;
    caret-color:red;
    transition: width 0.4s linear;
}

.searchbar:hover > .search_icon{
    background: white;
    color: #e74c3c;
}

.search_icon{
    height: 40px;
    width: 40px;
    float: right;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color: #e74c3c;
    text-decoration:none;
}

.search-results-color {
    background-color: #FCCD04;
}

.card-fixed-size {
    max-height: 400px;
}

.card-img-top:hover {
    transform: scale(1.05);
    transition: 0.1s ease;
}

.card {
    box-shadow: 8px 12px 31px -10px black;
}

.card-title {
    font-family: Candara;
    color: black;
    font-weight: bold;
    text-decoration: none;
}

.h1-color {
    color: white;
    font-family: Roboto;
    font-weight: bolder;
    font-size: 46px;
}

a:hover {
    text-decoration: none;
}







